### Import Libraries

In [864]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Time csv

In [865]:
Time = pd.read_csv('data/time.csv', sep='\t', names=["time"])

In [866]:
Time.head()

     time
0  140133
1  140134
2  140135
3  140137
4  140138

In [867]:
Time.drop(Time.index[len(Time)-1], inplace = True)

In [868]:
Time.tail()

     time
5  140139
6  140140
7  140141
8  140142
9  140144

### Battery csv

In [869]:
Battery = pd.read_csv('data/battery.csv', sep=',', names=["bat_voltage", "bat_temp", "bat_capacity", "bat_current"])

In [870]:
Battery.head()

  bat_voltage bat_temp bat_capacity bat_current
0        4390       28          100         -75
1        4390       28          100         -75
2        4381       28          100           0
3        4381       28          100           0
4        4381       28          100           0

In [871]:
Battery.drop(Battery.index[len(Battery)-1], inplace = True)

In [872]:
Battery.tail()

  bat_voltage bat_temp bat_capacity bat_current
5        4381       28          100           0
6        4381       28          100           0
7        4382       28          100           2
8        4382       28          100           2
9        4382       28          100           2

### GPU csv

In [873]:
GPU = pd.read_csv('data/gpu.csv', sep=',', names=["gpu_usage", "gpu_temp", "gpu_freq"])

In [874]:
GPU.head()

  gpu_usage gpu_temp   gpu_freq
0        10     34.3  257000000
1         0     33.9  257000000
2         0     33.6  257000000
3         0     33.2  257000000
4         0     33.2  257000000

In [875]:
GPU.drop(GPU.index[len(GPU)-1], inplace = True)

In [876]:
GPU.tail()

  gpu_usage gpu_temp   gpu_freq
5         0     33.2  257000000
6         0     33.2  257000000
7         0     32.8  257000000
8         0     33.6  257000000
9         0     33.6  257000000

### Net csv (KB/s)

In [877]:
Net = pd.read_csv('data/net.csv', sep=',', names=["tx", "rx"])

In [878]:
Net.head()

          tx         rx
0  52371.145  5347155.5
1        0.0        0.0
2        0.0        0.0
3      0.062      0.048
4        0.0        0.0

In [879]:
Net.drop(Net.index[len(Net)-1], inplace = True)

In [880]:
Net.tail()

      tx     rx
5    0.0    0.0
6    0.0    0.0
7  0.078  0.072
8    0.0    0.0
9  0.065  0.048

### CPU frequency csv (kHz)

In [881]:
size = len(pd.read_csv('data/cpuFreq.csv').columns);

In [882]:
titles = []
for i in range(0, size):
    titles.append('cpu' + str(i))
titles

['cpu0', 'cpu1', 'cpu2', 'cpu3', 'cpu4', 'cpu5', 'cpu6', 'cpu7']

In [883]:
CPUFreq = pd.read_csv('data/cpuFreq.csv', sep=',', names=titles)

In [884]:
CPUFreq.head()

      cpu0     cpu1     cpu2     cpu3     cpu4     cpu5     cpu6    cpu7
0   576000   576000   576000   576000   825600   825600   825600  825600
1  1555200  1555200  1555200  1555200  1286400  1286400  1286400  825600
2   576000   576000   576000   576000  1056000  1056000  1056000  825600
3   576000   576000   576000   576000  1286400  1286400  1286400  825600
4   576000   576000   576000   576000  1171200  1171200  1171200  825600

In [885]:
CPUFreq.drop(CPUFreq.index[len(CPUFreq)-1], inplace = True)

In [886]:
CPUFreq.tail()

      cpu0     cpu1     cpu2     cpu3     cpu4     cpu5     cpu6     cpu7
5   576000   576000   576000   576000  1056000  1056000  1056000   825600
6   576000   576000   576000   576000  1286400  1286400  1286400   825600
7   576000   576000   576000   576000  1171200  1171200  1171200   825600
8  1785600  1785600  1785600  1785600  2419200  2419200  2419200  1612800
9   576000   576000   576000   576000   710400   710400   710400  1497600

### CPU time csv

In [887]:
colSize = len(pd.read_csv('data/cpuTime.csv').columns);
colSize

9

In [888]:
titles = []
for i in range(0, colSize):
    if i == 0:
        titles.append('cpu')
    else:
        titles.append('cpu' + str(i-1))
titles

['cpu', 'cpu0', 'cpu1', 'cpu2', 'cpu3', 'cpu4', 'cpu5', 'cpu6', 'cpu7']

In [889]:
CPUTime = pd.read_csv('data/cpuTime.csv', sep=',', names=titles)

In [890]:
#CPUTime.head()

In [891]:
CPUTime.drop(CPUTime.index[len(CPUTime)-1], inplace = True)

In [892]:
#CPUTime.tail()

In [893]:
rowSize = len(CPUTime.index)
seven = 7

In [894]:
threeD = []
for c in range(0, colSize):
    twoD = []
    for r in range(0, rowSize):
        line = CPUTime.iloc[r][c]
        arr = line.split()
        oneD = []
        for i in range(0, seven):
            oneD.append(int(arr[i]))
        twoD.append(oneD)
    threeD.append(twoD)

In [895]:
#threeD[0]

In [896]:
for i in range(0, colSize):
    for j in range(rowSize-1, 0, -1):
        for k in range(0, seven):
            threeD[i][j][k] = threeD[i][j][k] - threeD[i][j-1][k]

In [897]:
#threeD[0]

In [898]:
colSize

9

In [899]:
rowSize

10

#### user  nice  system  idle  iowait  irq  softirq

In [900]:
final3D = []
for i in range(0, colSize):
    #twoD = []
    twoD = pd.DataFrame(columns='total user% nice% system% idle% iowait% irq% softirq%'.split())
    index = 0
    for j in range(0, rowSize):
        line = threeD[i][j]
        total = sum(line)
        oneD = []
        oneD.append(total)
        for k in range(0, seven):
            oneD.append(round(threeD[i][j][k]*100 / total))
        twoD.loc[index] = oneD
        index += 1
    final3D.append(twoD)

In [911]:
final3D[0].head()

       total user% nice% system% idle% iowait% irq% softirq%
0  132263229     2     0       2    95       0    0        0
1        914     2     4       5    89       0    0        0
2        945     1     1       1    97       0    0        0
3        916     1     0       1    97       0    0        0
4        926     1     0       1    98       0    0        0

In [912]:
final3D[0].tail()

  total user% nice% system% idle% iowait% irq% softirq%
5   935     1     1       2    96       0    0        0
6   921     1     0       1    98       0    0        0
7   910     1     0       1    98       0    0        0
8   921     3     3       3    91       0    0        0
9   846     4     0       4    90       0    0        0

### Memory csv (kB)

In [902]:
Memory = pd.read_csv('data/memory.csv')

In [903]:
colSize = len(Memory.columns)
titles = []
for i in range(0, colSize):
    titles.append(Memory.iloc[0][i].split(':')[0])

In [904]:
Memory = pd.read_csv('data/memory.csv', sep=',', names=titles)
rowSize = len(Memory)
for i in range(0, rowSize):
    for j in range(0, colSize):
        Memory.iloc[i][j] = Memory.iloc[i][j].split(':')[1].strip().split()[0]

In [910]:
Memory.head()

,Thread quantity,MemTotal,MemFree,MemAvailable,Buffers,Cached,SwapCached,Active,Inactive,Active(anon),...,ION_heap,ION_heap_pool,WritebackTmp,CommitLimit,Committed_AS,VmallocTotal,VmallocUsed,VmallocChunk,CmaTotal,CmaFree
0,16,5598060,120188,3161156,9692,3272992,40304,1371864,2347164,283308,...,262564,126564,0,4896176,82419792,263061440,108236,0,233472,4
1,16,5598060,96320,3137360,9692,3273076,45400,1388240,2365160,299672,...,262564,126564,0,4896176,82429204,263061440,108188,0,233472,0
2,16,5598060,97128,3138176,9692,3273084,45788,1386384,2367108,297780,...,262564,126564,0,4896176,82429204,263061440,108140,0,233472,0
3,16,5598060,96988,3138036,9692,3273084,45788,1386700,2367120,298096,...,262564,126564,0,4896176,82429204,263061440,108140,0,233472,0
4,16,5598060,96712,3137764,9692,3273128,45780,1387108,2367096,298504,...,262564,126564,0,4896176,82429204,263061440,108108,0,233472,0

In [ ]:
Memory.tail()

### Temperature csv

In [906]:
temp = pd.read_csv('data/temperature.csv')
colSize = len(temp.columns)
rowSize = len(temp)

In [907]:
titles = []
for i in range(0, colSize):
    titles.append(temp.iloc[rowSize-1][i])
len(titles)

88

In [908]:
Temperature = pd.read_csv('data/temperature.csv', sep=',', names=titles)
Temperature.drop(Temperature.index[len(Temperature)-1], inplace = True)
Temperature.head()

,aoss0-usr,cpu-0-0-usr,cpu-0-1-usr,cpu-0-2-usr,cpu-0-3-usr,cpuss-0-usr,cpuss-1-usr,cpu-1-0-usr,cpu-1-1-usr,cpu-1-2-usr,...,disp-therm,usbc-therm-adc,usbc-therm-monitor,bcl-cycle,bcl-virt-extreme,maxfg,charger,s2mpg01_tz,usb,battery
0,33900,36300,35500,35100,35500,36300,35100,33900,35500,36600,...,29521,29015,29018,9,0,28100,28000,31701,29000,28100
1,33900,35500,35100,34700,35500,35900,35500,35900,35500,34700,...,29569,29027,29033,9,0,28100,28000,31701,29000,28100
2,33600,35100,34700,34300,34700,35100,34700,35500,35100,35100,...,29604,29042,29045,9,0,28100,28000,31701,29000,28100
3,33200,34700,34300,33900,34300,35100,34300,35100,34300,33900,...,29634,29060,29057,9,0,28100,28000,32868,29000,28100
4,32800,34700,34300,33900,34300,34700,33900,35100,34700,33900,...,29664,29072,29069,9,0,28100,28000,31701,29000,28100

In [909]:
Temperature.tail()

,aoss0-usr,cpu-0-0-usr,cpu-0-1-usr,cpu-0-2-usr,cpu-0-3-usr,cpuss-0-usr,cpuss-1-usr,cpu-1-0-usr,cpu-1-1-usr,cpu-1-2-usr,...,disp-therm,usbc-therm-adc,usbc-therm-monitor,bcl-cycle,bcl-virt-extreme,maxfg,charger,s2mpg01_tz,usb,battery
5,32400,34300,34300,33900,33900,34700,34300,34700,34300,34300,...,29691,29069,29072,9,0,28100,28000,31701,29000,28100
6,32800,34300,33900,33600,33900,34700,34300,33200,35900,34700,...,29718,29090,29093,9,0,28100,28000,31701,29000,28100
7,32800,33900,33900,33600,33600,34300,33900,33900,35100,33900,...,29750,29104,29104,9,0,28200,28000,32868,29100,28200
8,33600,37800,37800,38600,37400,40900,39700,40900,42000,41700,...,29777,29137,29140,9,0,28200,28000,31701,29100,28200
9,33200,34700,34300,33600,34300,34700,34300,34700,34300,34300,...,29789,29125,29125,9,0,28200,28000,32868,29100,28200

### Combine tables to final data set